.container {
  display:flex;
  justify-content: center;
  margin:10px;
  align-items:center;
}

.loginBox {
  display:flex;
  justify-content: center;
  flex-flow: column wrap;
  border: 1px  grey solid;
  border-radius:10px;
  padding-left:80px;
  padding-right:80px;
}

.smallcontainer {
  display:flex;
  justify-content:space-between ;
  flex-flow: column wrap;
  margin:10px;
}

label {
  padding:10px;
}

.button {
  display:flex;
  justify-content: flex-end;
  margin:10px;
}

.role{
  display:flex;
  justify-content: space-between;
}

.errorClass {
  color:red;
  font-size: 12px;
}